<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="logOut()" ion-button color="primary" block>Log out</button>
</ion-content>
