<ion-header>
    <ion-navbar>
        <ion-title>Smoking Tinder</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="login">
    <div margin padding text-center>
        <img src="assets/img/icon.png">
    </div>

    <div padding>
        <button ion-button full icon-left class="facebook" (click)="loginWithFacebook()">
            <ion-icon name="logo-facebook"></ion-icon>
            Log In with Facebook
        </button>

        <button ion-button full icon-left class="twitter" (click)="loginWithTwitter()">
          <ion-icon name="logo-twitter"></ion-icon>
          Log In with Twitter
      </button>

    </div>

</ion-content>