<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item>
        <ion-label floating>#Topic</ion-label>
        <ion-input [(ngModel)]="message" type="text"></ion-input>
      </ion-item>
  </ion-list>

  <div padding>
    <button (click)="notify()" ion-button color="primary" block>Let's hang out</button>
  </div>
</ion-content>
